In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv("transcricao.csv")
data

,Empresa,data_formatada,Posi,pos_ind,Neg,neg_ind,Neutral,neu_ind,indice
0,brf-3T2017,2017-11-10,118,0.324176,25,0.068681,221,0.607143,0.255495
1,brf-4T2021,2022-02-25,126,0.275109,55,0.120087,277,0.604803,0.155022
2,brf-1T2016,2016-04-29,155,0.306324,72,0.142292,279,0.551383,0.164032
3,brf-3T2022,2022-11-10,148,0.393617,32,0.085106,196,0.521277,0.308511
4,brf-2T2018,2018-08-10,92,0.227723,65,0.160891,247,0.611386,0.066832
...,...,...,...,...,...,...,...,...,...
557,petrobras-4T2013,2014-02-26,227,0.316156,91,0.126741,400,0.557103,0.189415
558,petrobras-4T2015,4T2015,90,0.130435,117,0.169565,483,0.700000,-0.039130
559,petrobras-3T2019,2019-10-25,134,0.282105,53,0.111579,288,0.606316,0.170526
560,petrobras-4T2012,2013-02-05,120,0.233010,94,0.182524,301,0.584466,0.050485
561,petrobras-4T2020,2021-02-25,224,0.432432,75,0.144788,219,0.422780,0.287645

In [3]:
# Função para remover as últimas letras de um nome
def remove_ultimas_letras(nome):
    return nome[:-7]

def extrair_ultimas_letras(nome):
    return nome[-4:]+nome[-7:-4]

data['Trimestre'] = data['Empresa'].apply(extrair_ultimas_letras)
# Aplicar a função a cada valor da coluna "nomes"
data['Empresa'] = data['Empresa'].apply(remove_ultimas_letras)
data = data[["Empresa", "Trimestre", "data_formatada", "Posi", "pos_ind", "Neg", "neg_ind", "Neutral", "neu_ind", "indice"]]
data

,Empresa,Trimestre,data_formatada,Posi,pos_ind,Neg,neg_ind,Neutral,neu_ind,indice
0,brf,2017-3T,2017-11-10,118,0.324176,25,0.068681,221,0.607143,0.255495
1,brf,2021-4T,2022-02-25,126,0.275109,55,0.120087,277,0.604803,0.155022
2,brf,2016-1T,2016-04-29,155,0.306324,72,0.142292,279,0.551383,0.164032
3,brf,2022-3T,2022-11-10,148,0.393617,32,0.085106,196,0.521277,0.308511
4,brf,2018-2T,2018-08-10,92,0.227723,65,0.160891,247,0.611386,0.066832
...,...,...,...,...,...,...,...,...,...,...
557,petrobras,2013-4T,2014-02-26,227,0.316156,91,0.126741,400,0.557103,0.189415
558,petrobras,2015-4T,4T2015,90,0.130435,117,0.169565,483,0.700000,-0.039130
559,petrobras,2019-3T,2019-10-25,134,0.282105,53,0.111579,288,0.606316,0.170526
560,petrobras,2012-4T,2013-02-05,120,0.233010,94,0.182524,301,0.584466,0.050485
561,petrobras,2020-4T,2021-02-25,224,0.432432,75,0.144788,219,0.422780,0.287645

In [4]:
data.to_csv("transcricao_formatada.csv", index=False)

In [ ]:
for empresa in data["Empresa"].unique():
    # Extraia os dados da empresa
    dados = data[data["Empresa"] == empresa]
    dados = dados.sort_values(by='Trimestre')
    # Crie um gráfico de linha
    plt.plot(dados["Trimestre"], dados["indice"])
    plt.xticks(dados["Trimestre"][::10])
    plt.ylabel("Índice de Sentimento")
    plt.title(empresa)
    plt.show()

TypeError: list indices must be integers or slices, not str