In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
nomes_empresas = {
    "brf":"BRFS3.SA",
    "bradesco":"BBDC4.SA",
    "natura":"NTCO3.SA",
    "hapvida":"HAPV3.SA",
    "magazine_luiza":"MGLU3.SA",
    "santander":"SANB11.SA",
    "gol":"GOLL4.SA",
    "ccr":"CCRO3.SA",
    "locaweb":"LWSA3.SA",
    "mrv_engenharia":"MRVE3.SA",
    "itau":"ITUB4.SA",
    "vale":"VALE3.SA",
    "azul":"AZUL4.SA",
    "BB":"BBAS3.SA",
    "petrobras":"PETR4.SA"
}

columns_name = {
    'empresa': [],
    'data': [],
    'data_formatada': [],
    'Open':[],
    'High':[],
    'Low':[],
    'Close':[],
    'Volume':[],
    'retorno_diario': [],
    'retorno_diario_2d': [],
    'posi': [],
    'ind_posi': [],
    'neg': [],
    'ind_neg': [],
    'neu': [],
    'ind_neu': [],
    'indice':[]
}

In [7]:
transcricao = pd.read_csv("Dados_relatorios_tratados.csv")
transcricao

,empresa,data,data_formatada,Open,High,Low,Close,Volume,retorno_diario,retorno_diario_2d,posi,ind_posi,neg,ind_neg,neu,ind_neu,indice
0,brf,2017-11-09,2017-11-10,43.459999,43.459999,41.939999,43.000000,1882000.0,0.010641,0.011263,118.0,0.324176,25.0,0.068681,221.0,0.607143,0.255495
1,brf,2017-11-10,2017-11-10,43.750000,43.750000,40.599998,41.020000,7369400.0,0.064432,-0.033100,118.0,0.324176,25.0,0.068681,221.0,0.607143,0.255495
2,brf,2017-11-13,2017-11-10,41.599998,42.009998,40.029999,41.900002,3445600.0,-0.007186,0.024800,118.0,0.324176,25.0,0.068681,221.0,0.607143,0.255495
3,brf,2022-02-24,2022-02-25,17.780001,17.780001,16.799999,17.340000,19858300.0,0.025058,-0.060286,126.0,0.275109,55.0,0.120087,277.0,0.604803,0.155022
4,brf,2022-02-25,2022-02-25,17.379999,17.500000,16.570000,16.709999,15965100.0,0.039313,-0.074197,126.0,0.275109,55.0,0.120087,277.0,0.604803,0.155022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,petrobras,2013-02-05,2013-02-05,17.280001,18.290001,17.260000,18.080000,77332900.0,-0.045257,-0.003896,120.0,0.233010,94.0,0.182524,301.0,0.584466,0.050485
815,petrobras,2013-02-06,2013-02-05,17.930000,18.000000,17.530001,17.600000,30886100.0,0.018576,-0.018421,120.0,0.233010,94.0,0.182524,301.0,0.584466,0.050485
816,petrobras,2021-02-24,2021-02-25,24.549999,25.000000,24.010000,24.400000,155246400.0,0.006129,0.038325,224.0,0.432432,75.0,0.144788,219.0,0.422780,0.287645
817,petrobras,2021-02-25,2021-02-25,25.000000,25.250000,23.100000,23.190001,170233000.0,0.075155,-0.050431,224.0,0.432432,75.0,0.144788,219.0,0.422780,0.287645
818,petrobras,2021-02-26,2021-02-25,23.200001,23.420000,21.969999,22.240000,159881000.0,0.042260,-0.016961,224.0,0.432432,75.0,0.144788,219.0,0.422780,0.287645

In [35]:
teste = transcricao[transcricao["data_formatada"].str.len() <7]
teste

,Empresa,Trimestre,data_formatada,Posi,pos_ind,Neg,neg_ind,Neutral,neu_ind,indice
4,bradesco,2017-3T,3T2017,64,0.297674,32,0.148837,119,0.553488,0.148837
5,bradesco,2017-1T,1T2017,83,0.261830,65,0.205047,169,0.533123,0.056782
6,bradesco,2016-3T,3T2016,183,0.340149,99,0.184015,256,0.475836,0.156134
7,bradesco,2015-3T,3T2015,33,0.103448,62,0.194357,224,0.702194,-0.090909
8,bradesco,2016-4T,4T2016,139,0.227124,97,0.158497,376,0.614379,0.068627
...,...,...,...,...,...,...,...,...,...,...
164,petrobras,2022-2T,2T2022,168,0.336000,75,0.150000,257,0.514000,0.186000
165,petrobras,2018-1T,1T2018,50,0.191571,31,0.118774,180,0.689655,0.072797
166,petrobras,2022-4T,4T2022,170,0.409639,49,0.118072,196,0.472289,0.291566
167,petrobras,2016-4T,4T2016,86,0.143333,64,0.106667,450,0.750000,0.036667
168,petrobras,2015-4T,4T2015,90,0.130435,117,0.169565,483,0.700000,-0.039130

In [52]:
def data_posterior_mais_proxima(dataframe, data, d=1):
    for k in range(len(dataframe)):
        data1 = data
        data2 = dataframe["Date"][k]
        data1 = datetime.strptime(data1, "%Y-%m-%d")
        data2 = datetime.strptime(data2, "%Y-%m-%d")
        diferenca = data2 - data1
        if diferenca.days <= 10:
            if data == dataframe['Date'][k] and k >0:
                return k, True
            elif data < dataframe['Date'][k] and k > 0:
                return k, True
    return -1, False

In [53]:
newdata = pd.DataFrame(columns_name)
for empresa, index in zip(transcricao["Empresa"], transcricao.index):
    if len(transcricao["data_formatada"][index]) == 10:
        for i in range(0,1):
            data = transcricao["data_formatada"][index]
            valor = pd.read_csv(f"historical_data/{nomes_empresas[empresa]}.csv")
            index_date, achou = data_posterior_mais_proxima(valor, data, d=1)
            if achou:
                indx_valor = index_date # valor[valor['Date'] == data_presente].index[0]
                retorno_diario = np.log(valor["Open"][indx_valor+i]/valor["Close"][indx_valor+i])
                retorno_diario_2d = np.log(valor["Close"][indx_valor+1]/valor["Close"][indx_valor-1])
                #newdata["retorno_diario"] = retorno_diario
                #newdata["data"] = valor["Date"][indx_valor]
                adicionar = pd.DataFrame({"empresa": [empresa],
                                              "data_formatada": [data],
                                              'Open':[valor["Open"][indx_valor]],
                                              'High':[valor["High"][indx_valor]],
                                              'Low':[valor["Low"][indx_valor]],
                                              'Close':[valor["Close"][indx_valor]],
                                              'Volume':[valor["Volume"][indx_valor]],
                                              "retorno_diario": [retorno_diario],
                                              "retorno_diario_2d":[retorno_diario_2d],
                                              "posi":[transcricao["Posi"][index]],
                                              "ind_posi": [transcricao["pos_ind"][index]],
                                              "neg": [transcricao["Neg"][index]],
                                              "ind_neg": [transcricao["neg_ind"][index]],
                                              "neu": [transcricao["Neutral"][index]],
                                              "ind_neu":[transcricao["neu_ind"][index]],
                                              "indice": [transcricao["indice"][index]],
                                              "data": [valor["Date"][indx_valor+i]]})
                newdata = newdata._append(adicionar, ignore_index=True)
#newdata.to_csv("Dados_relatorios_tratados_unicos.csv", index=False)
newdata

,empresa,data,data_formatada,Open,High,Low,Close,Volume,retorno_diario,retorno_diario_2d,posi,ind_posi,neg,ind_neg,neu,ind_neu,indice
0,brf,2017-11-10,2017-11-10,43.750000,43.750000,40.599998,41.020000,7369400.0,0.064432,-0.025914,118.0,0.324176,25.0,0.068681,221.0,0.607143,0.255495
1,brf,2022-02-25,2022-02-25,17.379999,17.500000,16.570000,16.709999,15965100.0,0.039313,-0.048444,126.0,0.275109,55.0,0.120087,277.0,0.604803,0.155022
2,brf,2016-04-29,2016-04-29,47.970001,50.849998,47.650002,49.200001,6567300.0,-0.025318,-0.011082,155.0,0.306324,72.0,0.142292,279.0,0.551383,0.164032
3,brf,2022-11-10,2022-11-10,11.810000,11.830000,10.810000,11.000000,19639700.0,0.071051,-0.055785,148.0,0.393617,32.0,0.085106,196.0,0.521277,0.308511
4,brf,2018-08-10,2018-08-10,21.090000,21.170000,20.100000,20.440001,12222500.0,0.031305,-0.078060,92.0,0.227723,65.0,0.160891,247.0,0.611386,0.066832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,petrobras,2019-02-28,2019-02-28,27.719999,27.750000,26.600000,27.059999,93065100.0,0.024098,-0.014132,47.0,0.166078,34.0,0.120141,202.0,0.713781,0.045936
271,petrobras,2014-02-26,2014-02-26,14.200000,14.250000,13.680000,13.700000,45181500.0,0.035846,-0.009922,227.0,0.316156,91.0,0.126741,400.0,0.557103,0.189415
272,petrobras,2019-10-25,2019-10-25,29.200001,29.549999,29.010000,29.250000,74476900.0,-0.001711,0.044206,134.0,0.282105,53.0,0.111579,288.0,0.606316,0.170526
273,petrobras,2013-02-05,2013-02-05,17.280001,18.290001,17.260000,18.080000,77332900.0,-0.045257,-0.022473,120.0,0.233010,94.0,0.182524,301.0,0.584466,0.050485
274,petrobras,2021-02-25,2021-02-25,25.000000,25.250000,23.100000,23.190001,170233000.0,0.075155,-0.092691,224.0,0.432432,75.0,0.144788,219.0,0.422780,0.287645

,empresa,data,data_formatada,Open,High,Low,Close,Volume,retorno_diario,retorno_diario_2d,posi,ind_posi,neg,ind_neg,neu,ind_neu,indice
84,magazine_luiza,2016-01-04,2015-12-31,0.066210,0.071484,0.064921,0.070117,138547200.0,-0.057334,0.026832,135.0,0.442623,36.0,0.118033,134.0,0.439344,0.324590
236,petrobras,2022-11-07,2022-11-05,27.959999,28.299999,27.070000,27.150000,117206600.0,0.029398,-0.034145,181.0,0.329690,42.0,0.076503,326.0,0.593807,0.253188

In [47]:
t=pd.read_csv("historical_data/ITUB4.SA.csv")
t

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,17.708261,18.436810,17.708261,18.268333,10.518468,11843397
1,2010-01-05,18.313868,18.386723,18.168158,18.386723,10.586637,8593315
2,2010-01-06,18.327526,18.436810,18.077089,18.227352,10.494876,10602572
3,2010-01-07,18.099855,18.236460,18.008787,18.040663,10.387384,9966567
4,2010-01-08,18.113516,18.113516,17.721922,17.767456,10.230077,9748709
...,...,...,...,...,...,...,...
3220,2022-12-23,25.030001,25.510000,24.870001,25.190001,24.271969,25327300
3221,2022-12-26,24.950001,25.180000,24.549999,24.690001,23.790190,15730800
3222,2022-12-27,24.660000,24.730000,24.270000,24.549999,23.655294,17203600
3223,2022-12-28,24.750000,25.200001,24.520000,25.049999,24.137072,22696400
3224,2022-12-29,25.240000,25.480000,24.959999,25.000000,24.088896,24799700