In [1]:
import pandas as pd
import numpy as np

In [2]:
data_p= pd.read_csv("ITUB.csv")
data_p

            Date      Open      High       Low     Close  Adj Close    Volume
0     2015-01-02  6.405356  6.405356  6.215494  6.280447   4.012360  14637404
1     2015-01-05  6.105573  6.270454  6.070599  6.205501   3.964481  15570881
2     2015-01-06  6.295436  6.460316  6.200505  6.405356   4.092161  28972590
3     2015-01-07  6.650179  6.715132  6.560244  6.585226   4.207075  16810379
4     2015-01-08  6.615204  6.815059  6.585226  6.735117   4.302834  30165654
...          ...       ...       ...       ...       ...        ...       ...
1253  2019-12-24  7.419621  7.419621  7.361913  7.361913   6.291775   2690070
1254  2019-12-26  7.477329  7.568013  7.477329  7.543281   6.446778  10376609
1255  2019-12-27  7.592745  7.592745  7.477329  7.510305   6.418595  11085364
1256  2019-12-30  7.625721  7.633965  7.526793  7.543281   6.446778  13333296
1257  2019-12-31  7.485573  7.559769  7.485573  7.543281   6.446778   4547173

[1258 rows x 7 columns]

In [16]:
data_sec = pd.read_csv("resultados_2.csv", sep=";")
data_sec = data_sec.rename(columns={"date": "Date"})
data_sec["Date"] = pd.to_datetime(data_sec["Date"],format="%d/%m/%Y")
data_sec

         Date periodo  posi  neg  neut    indice
0  2015-05-06    1T15    94   60   247  0.084788
1  2015-08-05    2T15    92   42   153  0.174216
2  2015-11-04    3T15    72   60   185  0.037855
3  2016-02-03    4T15    92   87   290  0.010661
4  2016-05-04    1T16    88   75   246  0.031785
5  2016-08-03    2T16   105   71   206  0.089005
6  2016-11-01    3T16    92   67   269  0.058411
7  2017-02-08    4T16   103   90   331  0.024809
8  2017-05-04    1T17    89   55   235  0.089710
9  2017-08-01    2T17    82   32   120  0.213675
10 2017-10-31    3T17    58   30   102  0.147368
11 2018-02-06    4T17    51   33   115  0.090452
12 2018-05-02    1T18    84   51   108  0.135802
13 2018-07-31    2T18   108   28   183  0.250784
14 2018-10-30    3T18    71   40   160  0.114391
15 2019-02-05    4T18    57   22    93  0.203488
16 2019-05-03    1T19    29   10    36  0.253333
17 2019-07-29    2T19    45   24   112  0.116022
18 2019-11-05    3T19    55   19   102  0.204545
19 2020-02-11    4T19    95   37   150  0.205674

In [18]:
data_final = pd.concat([data_p, data_sec])
data_final = data_final.sort_values(by="Date")
data_final

,Date,Open,High,Low,Close,Adj Close,Volume,periodo,posi,neg,neut,indice
0,2015-01-02,6.405356,6.405356,6.215494,6.280447,4.012360,14637404.0,NaN,NaN,NaN,NaN,NaN
1,2015-01-05,6.105573,6.270454,6.070599,6.205501,3.964481,15570881.0,NaN,NaN,NaN,NaN,NaN
2,2015-01-06,6.295436,6.460316,6.200505,6.405356,4.092161,28972590.0,NaN,NaN,NaN,NaN,NaN
3,2015-01-07,6.650179,6.715132,6.560244,6.585226,4.207075,16810379.0,NaN,NaN,NaN,NaN,NaN
4,2015-01-08,6.615204,6.815059,6.585226,6.735117,4.302834,30165654.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2019-12-26,7.477329,7.568013,7.477329,7.543281,6.446778,10376609.0,NaN,NaN,NaN,NaN,NaN
1255,2019-12-27,7.592745,7.592745,7.477329,7.510305,6.418595,11085364.0,NaN,NaN,NaN,NaN,NaN
1256,2019-12-30,7.625721,7.633965,7.526793,7.543281,6.446778,13333296.0,NaN,NaN,NaN,NaN,NaN
1257,2019-12-31,7.485573,7.559769,7.485573,7.543281,6.446778,4547173.0,NaN,NaN,NaN,NaN,NaN
19,2020-02-11,NaN,NaN,NaN,NaN,NaN,NaN,4T19,95.0,37.0,150.0,0.205674